@using VacationPortal.Web.Areas.Client.Models.VacationInfoVMs
@model VacationInfoCreateVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create Vacation Info</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <input asp-for="VacationInfo.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VacationInfo.Days" class="control-label"></label>
                <input asp-for="VacationInfo.Days" class="form-control" />
                <span asp-validation-for="VacationInfo.Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationInfo.Description" class="control-label"></label>
                <input asp-for="VacationInfo.Description" class="form-control" />
                <span asp-validation-for="VacationInfo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationInfo.PositionId" class="control-label"></label>
                <select asp-for="VacationInfo.PositionId" asp-items="Model.Positions" class="form-control">
                    <option disabled selected>Select Position</option>
                </select>
                <span asp-validation-for="VacationInfo.PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
