@{
    ViewData["Title"] = "Index";
}

<table id="tblData" class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Firstname
            </th>
            <th>
                Last Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                Days of Vacation
            </th>
            <th>
                Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/hrvacationapp.js"></script>
}